
body {
    margin: 0;
    background-image: linear-gradient(to top, rgba(242, 242, 242, 0), rgba(242, 242, 242, 1)), url("/me1.jpeg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    height: 100%;
    width: 100%;
    position: relative;
}
#welcome {
    margin-top: 1%;
    margin-left: 4%;
    position:absolute;
    font-size: 40px;
    font-family: Fantasy;
    color:white;
}
